$primaryColor: #22ac2b;
$secondaryColor: #2a392b;
$lightGray: #f9f9f9;

$heightNav: 100px;

// MIXINS
@mixin titleFont {
    font-family: 'Poppins', sans-serif;;
}

@mixin paragraphFont {
    font-family: 'Barlow', sans-serif;
}

@mixin container {
    margin: 2em;
}