.checkout{
    h1{
        text-transform: uppercase;
        font-size: 2em;
        margin-bottom: 0.5em;
    }
    >.item_card_wrapper{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2em;
        margin-top: 2em;
        .item{
            align-items: flex-start;
            .info{
                text-align: left;
                padding: 1em 0;
            }
        }
    }
}