@import "../../styles/base.scss";
header {
  position: fixed;
  width: 100%;
  z-index: 1;
  nav {
    width: 100%;
    padding: 1em 3em;
    display: flex;
    > a:first-child {
      margin-right: 3em;
      font-weight: 700;
      line-height: 0.85;
      font-size: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      span {
        font-weight: 300;
      }
    }
    ul {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      li {
        list-style: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.8em;
        a {
          color: $secondaryColor;
          @include titleFont();
          text-decoration: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          img[alt="carrito"] {
            width: 5.5em;
          }
          > span {
            position: absolute;
            bottom: 21px;
            color: white;
            font-size: 0.8em;
          }
        }
      }
      &.rightNav {
        justify-content: flex-end;
        li {
          padding: 0 1em;
        }
      }
      &.navLinks {
        justify-content: flex-start;
        li {
          padding: 0 1em;
          > a.activeCategory {
            border-bottom: 1.5px solid $secondaryColor;
          }
        }
      }
    }
  }
}
