@import '../../styles/base.scss';
header {
    position: fixed;
    width: 100%;
}

nav {
    width: 100%;
    padding: 1em 3em;
    display: flex;
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 3em;
    }
    ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        li {
            list-style: none;
            text-transform: uppercase;
            font-weight: 700;
            font-size: .8em;
            a {
                color: $secondaryColor;
                @include titleFont();
                text-decoration: none;
            }
        }
        &.right-nav {
            justify-content: flex-end;
            li {
                padding: 0 1em;
            }
        }
        &.nav-links {
            justify-content: flex-start;
            li {
                padding: 0 1em;
                &:first-child {
                    >a {
                        border-bottom: 1.5px solid $secondaryColor;
                    }
                }
            }
        }
    }
}