
@import '../../styles/base.scss';

footer{
    background: $lightGray;
    display: flex;
    nav{
        display: flex;
        justify-content: space-between;
        @include container;
        width: 100%;
    }
}